# Credenciales y configuración de PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=retailmax

# Puertos de mapeo local (Host)
POSTGRES_LOCAL_PORT=5432
METABASE_LOCAL_PORT=3000